In [27]:
if True:# indentation is always4 spaces
    print('Data science')

Data science

In [28]:
if True:
    print("Data Science")
    print("Need to spend 12 - 14 hours a day")

Data Science
Need to spend 12 - 14 hours a day

In [29]:
if False:
     print("Data Science")
print("Good Bye")

Good Bye

In [30]:
if True:
    print("Data Science")
else:
    print("Good Bye")

Data Science

# i want to print only even nymbers

In [31]:
x = 4
r = x%2

if r == 0:
    print("Even Number ")

Even Number

In [32]:
x = 7
r = x%2

if r == 0:
    print("Even Number ")
if r == 1:
    print("Odd Number ")

Odd Number

In [33]:
x = 9
r = x%2

if r == 0:
    print("Even Number ")
if r == 1:
    print("Odd Number ")

Odd Number

In [34]:
x = 10
r = x%2

if r == 0:
    print("Even Number ")
if r == 1:
    print("Odd Number ")

Even Number

In [35]:
x = 22
r = x%2

if r == 0:
    print("Even Number ")
else:
    print("Odd Number ")
    # always write this code dont always usded if , if

Even Number

In [36]:
x = 0
r = x%2

if r == 0:
    print("Even Number ")
if r !=0:# this is not equal to 0 , we used in that replacement of ==1 
    print("Odd Number ")

Even Number

In [37]:
# 2 condtion are used its nasted if type problem
x = 15
r = x%2

if r == 0:
    print("Even Number ")
    if x>5:
        print('greater number')
        
    
    
    
    
    
    
    
else:
    print("Odd Number ")

Odd Number

In [38]:
# 2 condtion are used its nasted if type problem
x = 10
r = x%2

if r == 0:
    print("Even Number ")
    if x>5:
        print('greater number')
        
    
else:
    print("Odd Number ")

Even Number
greater number

In [40]:
x = 4
r = x%2

if r == 0:
    print("Even Number ")
    if x>5:
        print('greater number')
    else:
        print("not greater")   
    
else:
    print("Odd Number ")

Even Number
not greater

In [41]:
# if , elif , else we used that 
x = 2
if(x==1):
    print('one')
elif(x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')
    
else:
    print('Out of Range')

two

In [42]:
# if , elif , else we used that 
x = 10
if(x==1):
    print('one')
elif(x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')
    
else:
    print('Out of Range')

Out of Range

In [43]:
# if , elif , else we used that 
x = 4
if(x==1):
    print('one')
elif(x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')
    
else:
    print('Out of Range')

four