In [1]:
i=1 # Initialize i to 1
while i<=5: # This loop will not execute because i is initialized to 1 and the condition is i >= 5
    print('Yash Gupta')
    i = i + 1 #increment i by 1

Yash Gupta
Yash Gupta
Yash Gupta
Yash Gupta
Yash Gupta

In [2]:
i=1 
while 5 >= i: # This loop will execute as long as i is less than or equal to 5
    print('Yash Gupta')
    i = i + 1

Yash Gupta
Yash Gupta
Yash Gupta
Yash Gupta
Yash Gupta

In [3]:
i=1 
while 5 >= i: # This loop will execute as long as i is less than or equal to 5
    print('Yash Gupta')
    i = i + 1

Yash Gupta
Yash Gupta
Yash Gupta
Yash Gupta
Yash Gupta

In [4]:
i=1 
while i<= 5:
    print('Yash Gupta')
    j=1
    while j<=4:
        print('V.D')
        j=j + 1
    i = i + 1

Yash Gupta
V.D
V.D
V.D
V.D
Yash Gupta
V.D
V.D
V.D
V.D
Yash Gupta
V.D
V.D
V.D
V.D
Yash Gupta
V.D
V.D
V.D
V.D
Yash Gupta
V.D
V.D
V.D
V.D

In [5]:
i=1 
while i<= 5:
    print('Yash Gupta' , end=' ')#when we mention end then new line will not created 
    j=1
    while j<=4:
        print('V.D' , end=' ')
        j=j + 1
    i = i + 1
    print()

Yash Gupta V.D V.D V.D V.D
Yash Gupta V.D V.D V.D V.D
Yash Gupta V.D V.D V.D V.D
Yash Gupta V.D V.D V.D V.D
Yash Gupta V.D V.D V.D V.D

In [6]:
i=1 
while i<= 5:
    print('Yash Gupta' , end=' *')#when we mention end then new line will not created 
    j=1
    while j<=4:
        print('V.D' , end='* ')
        j=j + 1
    i = i + 1
    print()

Yash Gupta *V.D* V.D* V.D* V.D*
Yash Gupta *V.D* V.D* V.D* V.D*
Yash Gupta *V.D* V.D* V.D* V.D*
Yash Gupta *V.D* V.D* V.D* V.D*
Yash Gupta *V.D* V.D* V.D* V.D*

In [7]:
i = 1
while i <=4:
    j = 0
    while j<= 3:
        print(i*j, end="")
        j+= 1
    print()  # Print a new line after each inner loop completes
    i += 1

0123
0246
0369
04812

In [8]:
# for Loops - normally while loops are work with condition but for loop it will work with sequence(list,string,integer)

In [9]:
name = "yrg"
for i in name:
    print(i)

y
r
g

In [10]:
name1 = [1, 3.5, 'hello']
for i in name1:
    print(i)

1
3.5
hello

In [11]:
for i in [2,3,7.8,'hi']:
    print(i)

2
3
7.8
hi

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
for i in range(1,10,3):
    print(i)

1
4
7

In [15]:
# can you write the python code for 5 multiplication table 
for i in range (1,51):
    if i%5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [16]:
#in that case we want to print the numbers which are not divisible by 5
for i in range (1,51):
    if i%5 != 0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1, 11):
    if i == 5:
        break  # This will exit the loop when i is 5
    print(i)

1
2
3
4

In [19]:
for i in range(1, 11):
    if i == 7:
        break  # This will exit the loop when i is 5
    print(i)

1
2
3
4
5
6

In [20]:
for i in range(1, 11):
    if i == 7:
        continue  # This will skip the iteration when i is 7
    print(i)

1
2
3
4
5
6
8
9
10

In [21]:
for i in range(1, 11):
    if i == 9:
        continue  # This will skip the iteration when i is 7
    print(i)

1
2
3
4
5
6
7
8
10

In [22]:
for i in range(1,11):
    pass # This will do nothing and continue to the next iteration

In [23]:
for i in range(4):
    for j in range(4):
        print('#', end='')
    print()  # Move to the next line after each row

####
####
####
####

In [1]:
for i in range(5):
    for j in range(4-i):
        print('*', end='')
    print()

****
***
**
*

# FOR |ELSE IN PYTHON

In [2]:
num = [12,23,14,15,32,56]
for num in num:
  if num %5 == 0:
     print(num)

15

In [3]:
num = [12,23,14,15,32,56,60,64,65]
for num in num:
  if num %5 == 0:
     print(num)

15
60
65

In [4]:
num = [12,23,14,15,32,56,60,64,65]
for num in num:
  if num %5 == 0:
     print(num)
     break# This will exit the loop after printing the first number divisible by 5

15

In [6]:
num = [12,23,14,32,56]
for num in num:
  if num %5 == 0:
     print(num)
     # IN THAT THERE I S  ANO NUMBER DIVISIBLE BY 5 SO NOTHING WILL BE PRINTED

In [9]:
num = [12,23,14,32,56]
for n in num:
    if n % 5 == 0:
        print(n)
        break
else:
    print('Number not found')

Number not found

In [10]:
num = 45
for i in range (2,num):
    if num %1 == 0:
        print('not prime number')
        break
else:
    print('prime number')

not prime number

In [11]:
num = 11
for i in range (2,num):
    if num %1 == 0:
        print('not prime number')
        break
else:
    print('prime number')

not prime number

In [12]:
num = 13
for i in range (2,num):
    if num %1 == 0:
        print('not prime number')
        break
else:
    print('prime number')

not prime number